### Lab8 : CW Example V5.0
- Functions
- List 
- File Operation
- Python Module
- Visualisation
- DataFrames for Student Marks
- SQL Database

In [1]:
#!pip install matplotlib # use the command if it is not installed already 
import matplotlib.pyplot as plt
from IPython.display import clear_output

In [2]:
# all function defs 

def display_line(symbol="*",line_size=10):
    line=line_size*symbol
    print(line)

def display_msg(msg="hello"):
    display_line()
    print("!!!"+msg+"!!!")
    display_line()

    
def display_menu():
    display_msg("Menu")
    print("d) Display Marks")
    print("a) Add a new mark")
    print("s) Save Student Marks")
    print("l) Load Student Marks")
    print("p) Plot Marks")
    print("c) Clear Screen")
    print("t) Transfer to DB" )
    print("r) retrieve from DB")
    print("e) Exit")

# menu actions     

def plot_marks(): # new 
    dfMarks.plot(x="name",y="mark",kind="bar",title="Student Marks")
    plt.show()
    
def add_mark():
    print("add a new student mark")
    studentName=input("please enter student name")
    studentMark=int(input("please enter student mark"))
    dfMarks.loc[len(dfMarks)]=[studentName,studentMark]
    display_marks()
    
def display_marks():
    print("Student Marks")
    display(dfMarks)

In [3]:
############
#----Main--- 
############
import fileOperations as fo

display_menu()

dfMarks=fo.load_marks()

while True:
    opt=input("please enter your option")
    if opt=="l":
        dfMarks=fo.load_marks()
    elif opt=="d":
        display_marks()
    elif opt=="a":
        add_mark()
    elif opt=="s":
        fo.save_marks(dfMarks)
    elif opt=="r":
        dfMarks=fo.load_from_db()
    elif opt=="t":
        fo.save_to_db(dfMarks)     
    elif opt=="p":
        plot_marks()
    elif opt=="c":
        clear_output()
        display_menu()
    elif opt=="e":
        print("exit")
        break
    else:
        print("sorry")

**********
!!!Menu!!!
**********
d) Display Marks
a) Add a new mark
s) Save Student Marks
l) Load Student Marks
p) Plot Marks
c) Clear Screen
t) Transfer to DB
r) retrieve from DB
e) Exit
please enter your optiond
Student Marks

  name  mark
0  bob    57
1  tim    69
2  joe    90

please enter your optiona
add a new student mark
please enter student namexyz
please enter student mark89
Student Marks

  name  mark
0  bob    57
1  tim    69
2  joe    90
3  xyz    89

please enter your optiont
please enter your optionl
please enter your optiond
Student Marks

  name  mark
0  bob    57
1  tim    69
2  joe    90

please enter your optionr
please enter your optiond
Student Marks

  name  mark
0  bob    57
1  tim    69
2  joe    90
3  xyz    89

please enter your optione
exit